<div class="container">

  <h3>Sign In</h3>


  <label for="username"><b>User Name</b></label>
  <input type="text" placeholder="Enter user name" name="" required>

  <label for="psw"><b>Password</b></label>
  <input type="password" placeholder="Enter password" name="psw" required>

  <label>
      <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
  </label>

  <p><a href="/sign-up" style="color: #4286f4">Don't have account? Create one now</a></p>

  <div>
      <button type="submit" class="signupbtn">Sign In</button>
    </div>

</div>

